/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  background: #15181b;
  /* background: linear-gradient(-45deg, #1f1c2c, #928dab, #1f1c2c, #3f0d12); */
  background-size: 400% 400%;
  /* animation: gradientAnimation 15s ease infinite; */
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styles */
.header {
  text-align: center;
  padding: 2rem 1rem;
  background: transparent;
}

.title {
  font-size: 3rem;
  margin: 0;
  color: #e7dfdd;
}

.subtitle {
  font-size: 1.5rem;
  color: #c9c9c9;
}

/* Main Content Styles */
.main-content {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Gradient Animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Footer Styles */
.footer {
  text-align: center;
  padding: 1rem;
  background-color: rgba(53, 52, 56, 0.6);
  color: #c9c9c9;
}

.input-underline {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 0px 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
  background: none;
  width: 100%;
}

.input-underline:focus {
  border-bottom: 2px solid #669ad2; /* 聚焦時底線顏色 */
  box-shadow: 0px 2px 5px rgba(0, 123, 255, 0.2); /* 聚焦時增加陰影 */
}

/* From Uiverse.io by gharsh11032000 */ 
.card {
  /* width: 600px; */
  width: 58%;
  height: 200px;
  /* background: linear-gradient(43deg, #0c29ba, #2a627f, #88d2f9); */
  background: linear-gradient(43deg, #4c67f2 0%, #939596 46%, #0ecdf4 100%);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  border-radius: 8px;
  color: white;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
  margin: 0 auto; /* Center the card horizontally */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-content {
  padding: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.card-content .card-title {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.card-content .card-para {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
}

.card:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.card:hover:before {
  transform: translateX(-100%);
}

.card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.card:hover:after {
  transform: translateX(100%);
}

/* From Uiverse.io by Madflows */ 
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: 2px solid #6EACDA;
  cursor: pointer;
  /* z-index: 0; */
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  /* z-index: 1; */
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(82, 162, 242) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.zoom-effect:hover {
  transform: scale(1.02); /* Zoom in */
  transition: transform 0.3s ease;
}