.main {
    border: 2px solid #6EACDA;
    background-color: #3f3d45;
    /* font-family: 'Montserrat', sans-serif; */
}

.card-bottom {
    border: 2px solid #6EACDA;
    background-color: #3f3d45;
}